.appContainer {
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
    /* padding: 5px; */
    font-family: Arial, sans-serif;
}

.filterCartSectionTitle{
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
}

.filterCartSection {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.ratingFilter {
  padding: 7px;
  font-size: 1rem;
  margin-right: 10px;
  border: 1px solid #ccc;
  width: 102px;
  border-radius: 12px;
}

h3.cartItems {
    margin-top: 10px;
}

.recipeCardsContainer {
    /* display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    align-items: center; */
    display: grid;
  /* This is the magic line for responsive columns */
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 300px), 1fr));
    /* margin-top: 20px; */
    gap: 20px; /* Space between grid items */
  /* padding: 20px;  */
  /* Padding around the grid */
  /* padding: clamp(20px, 30px, 50px); Responsive padding */
  max-width: 1200px; /* Max width for the grid to keep it centered */
  margin: 0 auto; /* Center the grid container */


}

.recipeCard {
    /* width: 200px; */
    /* flex-basis: 200px;
    flex-grow: 1; */
    /* flex: 1 1 min(100%, 300px); */
    /* border: 1px solid #ccc;
    display: flex;
    padding: 10px;
    border-radius: 10px;
    flex-direction: column;
    align-items: center;
    box-shadow: 2px 2px 8px rgba(0,0,0,0.1); */

  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
  box-shadow: 2px 2px 8px rgba(0,0,0,0.1);

  /* background-color: #ffffff; */
  border-radius: 8px;
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
  box-shadow: 2px 2px 8px rgba(0,0,0,0.1);
  padding: 20px;
  /* padding: clamp(20px, 5vw, 50px); Responsive padding */
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Pushes button to bottom */
  text-align: center;
  min-height: 200px; /* Ensures some consistent height */
  color: #333; /* Ensure text color is readable against background */

}

.recipeCardImg {
    height: 100px;
    width: 100%;
    border-radius: 8px;
    object-fit: cover;
    margin-bottom: 15px;
}
.cartButton {
    background: green;
    padding: 6px 12px;
    color: #fff;
    border-radius: 17px;
    font-size: 14px;
    margin-top: 10px;
    cursor: pointer;
}